* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: sans-serif;
    background-color: #e4e4e4;

}

.App {
    height: 100vh;
    max-width: 1000px;
    min-width: 325px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: #ffffff;
    overflow: scroll;

}

.main__header {
    margin: 0 20px;
}
